.container {
  max-width: 1440px;
  background: #E5E5E5;
  margin: 0 auto;

}
.main {
  margin-left: 24px;
  margin-right: 24px;
  border-top: 1px solid #282828;
  display: flex;
}
.hr {
  margin: 16px 0 0 16px;
  width: 1px;
  color: #282828;
  background: #282828;
  border: none;

}


@media screen and (max-width: 768px) {
  .main {
    margin-left: 24px;
    margin-right: 24px;
    border-top: none;
  }
  .hr {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .main {
    margin-left: 16px;
    margin-right: 16px;
  }
}

